
.mainlist a{
  
    font-family: Muli;
  
    font-size: 20px;
  
    font-weight: 800;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.25;
  
    letter-spacing: normal;
  
     text-align: left; 
  
     color: #223e60;
}  

.nav-tabs {

    border-bottom: 0px solid #ddd;
    
    }

.fieldsform input[type="text"]{
    width: 407px;

    height: 42px;
  
    border-radius: 4px;
  
    background-color: var(--white-grey);
    
    
}


.fieldsform1 input[type="text"]{
    width: 435px;

    height: 45px;
  
    border-radius: 4px;
  
    background-color: var(--white);
}

.fieldsform1 h5{
    /* width: 131px;

    height: 19px; */
  
    font-family: Muli;
  
    font-size: 18px;
  
    font-weight: 600;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.27;
  
    letter-spacing: normal;
  
    /* text-align: left; */
  
    color: #cbcbcb;
    
}

.submitbutton{
    width: 185px;

    height: 45px;
    
    border-radius: 10px;
  
    background-color: #f87d42;
        font-family: Muli;
        font-size: 17px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: normal;
        text-align: center;
        color: var(--white);
        float: none;
        position: absolute;
        /* top: 50%; */
      
        transform: translate(-50%, -50%);

    }


    // .levels{
    //     width: 159px;

       
      
    //     border-radius: 4px;
      
    //     background-color: var(--white);
    // }

    select.form-control:not([size]):not([multiple]) {
        height: 45px;
        width: 159px;

       
      
        border-radius: 4px;
      
        background-color: var(--white);
    }



    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 12px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .initiatecircle {
            width: 29.4px;
            height: 29.4px;
            background-color: #4879ff;
    }
    .rectangle {
        width: 200px;
        height: 55px;
        border-radius: 5px;
        background-color: #fdcc00;
        color: #ffffff;
        text-align: center;
        font-size: 15px;
      }
      .issued {
        width: 200px;
        height: 55px;
        border-radius: 5px;
        background-color: #ffffff;
         border: 3px solid green;
        color: green;
        text-align: center;
        font-size: 40px;
        transform: rotate(-6deg);
      }
      .blur {
        color: transparent;
        text-shadow: 0 0 5px rgba(31, 226, 106, 0.5);
     }