<div class="container-fluid" style="margin-left: 3%;"> 
<div class="KYC">
  <div class="Rectangle-820">
    <p class="KYC-Documents">KYC Documents</p>
    <div class="Rectangle-900">
        <p class="Aadhar">Aadhar</p>
        <p class="Status-Not-uploaded">Status : Not Uploaded</p>
          <button class="Rectangle-905 Upload">Upload</button>
          <button class="Rectangle-906 Pay">Pay</button>
          <button class="Rectangle-907 Verify">Verify</button>
    </div>

    <div class="Rectangle-900">
          <p class="Aadhar">Pan Card</p>
          <p class="Status-Not-uploaded">Status : Not Uploaded</p>
            <button class="Rectangle-905 Upload">Upload</button>
            <button class="Rectangle-906 Pay">Pay</button>
            <button class="Rectangle-907 Verify">Verify</button>
      </div>
  </div>
</div>
</div>
