.Rectangle-820 {
  width: 1550px;
  height: 780px;
  border-radius: 5px;
  border: solid 1px #707070;
  background-color: #fdfdfd;
}

.KYC {
  width: 1366px;
  height: 768px;
  background-color: #ffffff;
}


.KYC-Documents {
  width: 152px;
  height: 25px;
  font-family: Muli;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  margin: 50px 50px 50px 50px;
  color: #626262;
}

.Rectangle-900 {
  display: inline-block;
  width: 430px;
  height: 163.1px;
  margin: 0px 20px 20px 20px;
  border-radius: 15px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.Aadhar {
  width: 200px;
  height: 18px;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #626262;
  text-align: center;
  padding-top: 40px;
  padding-left: 50px;
  padding-bottom: 25px;
}

.Status-Not-uploaded {
  width: 400px;
  height: 20px;
  font-family: Muli;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #c6c6c6;
  padding-top: 1px;
  padding-left: 100px;
  padding-bottom: 30px;
}


.Upload {
  width: 49px;
  height: 18px;
  font-family: Muli;
  font-size: 14px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #f87d42;
  border-bottom-left-radius: 15px;
}

.Pay {
  width: 20px;
  height: 19px;
  opacity: 0.4;
  font-family: Muli;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #626262;
}

.Verify {
  width: 40px;
  height: 19px;
  opacity: 0.4;
  font-family: Muli;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #626262;
}

.Rectangle-905 {
  width: 140px;
  height: 47.1px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
}

.Rectangle-906 {
  width: 140px;
  height: 47.1px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
}

.Rectangle-907 {
  width: 150px;
  height: 47.1px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
}