<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">

        <!-- <div class="header-fields">

          
            <a *ngIf="!userinfo" onclick="document.getElementById('id01').style.display='block';document.getElementById('tab-selectbyid2').click()"
                class="list-group-item">
                Login
            </a>
            <a *ngIf="!userinfo" onclick="document.getElementById('id01').style.display='block';document.getElementById('tab-selectbyid1').click()"
                class="list-group-item">
                Sign Up
            </a>
            <a *ngIf="userinfo" [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                User Profile
            </a>
            <a *ngIf="!userinfo" (click)="onLoggedout()" class="list-group-item">
                Logout
            </a>
            <br>
         
        </div> -->
        <!-- <td align="left"><img src="../../assets/Mask Group 1.png"></td>
        <td align="left"><a routerLink="/home" style="color:#ffffff;">Home</a></td>
      </tr>
      <tr>
        <td align="left"><img src="../../assets/Mask Group 2.png"></td>
        <td align="left"><a routerLink="/dashboard" style="color:#ffffff;">Dashboard</a></td>
      </tr>
      <tr>
        <td align="left"><img src="../../assets/icons8-diploma-100-3.png"></td>
        <td align="left"><a routerLink="/certificate" style="color:#ffffff;">Certificate</a></td>
      </tr>
      <tr>
        <td align="left"><img src="../../assets/icons8-wallet-100-3.png"></td>
        <td align="left"><a routerLink="/wallet" style="color:#ffffff;">Wallet</a></td>
      </tr>
      <tr>
        <td align="left"><img src="../../assets/Mask Group 4.png"></td>
        <td align="left"><a routerLink="/kyc" style="color:#ffffff;">KYC</a></td>
      </tr>
      <tr>
        <td align="left"><img src="../../assets/Mask Group 5.png"></td>
        <td align="left"><a routerLink="/settings" style="color:#ffffff;">Settings</a></td> -->








        <table>
            <tr>
                <td align="center"> <img src="../../../../assets/images/Mask Group 1.png"></td>
                <td align="center"> <a [routerLink]="['/superadmin']" [routerLinkActive]="['router-link-active']"
                        class="list-group-item">
                        Home
                    </a></td>
            </tr>


            <!-- <img src="../../../../assets/images/Mask Group 1.png">
        <a [routerLink]="['/superadmin']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            Home
        </a> -->

            <tr>
                <td align="center" > <img src="../../../../assets/images/Mask Group 2.png"></td>

                <td align="center">

                    <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']"
                        class="list-group-item">
                        Dashboard
                    </a>
                </td>
            </tr>

            <tr>
                <td align="center"><img src="../../../../assets/images/icons8-diploma-100-3.png">
                </td>
                <td align="center"><a [routerLink]="['/certificate']" [routerLinkActive]="['router-link-active']"
                        class="list-group-item">
                        Certificate
                    </a> </td>
            </tr>

            <tr>
                <td align="center"><img src="../../../../assets/images/icons8-wallet-100-3.png"></td>
                <td align="center"> <a [routerLink]="['/wallet']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        My Wallet
                    </a></td>
            </tr>

            <tr>
                <td align="center">
                    <img src="../../../../assets/images/Mask Group 4.png">
                </td>
                <td align="center">
                    <a [routerLink]="['/kyc']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        KYC
                    </a>
                </td>
            </tr>

            <tr>
                <td align="center">
                    <img src="../../../../assets/images/Mask Group 5.png">
                </td>
                <td align="center">
                    <a [routerLink]="['/settings']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        Settings
                    </a>
                </td>
            </tr>


            <tr>
                <td align="center" colspan="2">
                    <a class="list-group-item">
                        Logout
                    </a>
                </td>
            </tr>

        </table>
    </div>

</nav>