.Ellipse-262 {

    width: 85px;
  
    height: 85px;
  
    background-color: #00b15f;
  
  }

  .Ellipse-262 {

    width: 85px;
  
    height: 85px;
  
    background-color: #ff7791;
  
  }

  .Ellipse-261 {

    width: 85px;
  
    height: 85px;
  
    background-color: #ffc221;
  
  }