 <div class="container"> 
<div class="col-xl-5">
    <div class="col-12 walletcard">
        <div class="col-6 walletcard1">
           <img src="">
        </div>
        <div class="form-row">
          <div class="col-6 walletcard4">
              <p><b>Wallet Balance</b></p>
              <h5 id="wallet"></h5>
          </div>
          <div id="dappbal" class="col-6 walletcard5"> 
              <p><b>DAPP Balance</b></p>
              <h5 id="dapp1">100bel </h5>
          </div>
        </div>
          <div class="col-6 walletcard2">
              <span><img src=""><span id="valid" class="validthru">06/19</span></span>
          </div>
          <div class="col-12 walletcard3">
            <input name="creditcard" id="address" >
            <p><b>Wallet Address</b></p>
          </div>
      </div>
  <div class="col-12" style="margin-left:65%; padding-top:5% ">
      <div class="form-row"> 
          <button class="rechargebtn">RECHARGE</button>
          <button  style="margin-left:5%" class="dappbtn" data-dismiss="modal">UPDATE DAPP BALANCE</button>
        </div>
  </div>
  </div>
</div>