
.body h1 h3{font-weight:600;}
.body{overflow-y:auto;background-color:#fff;}
      .div#navbarTogglerDemo02 {display: block !important;}
      .div#navbarTogglerDemo02 .menu {float: right;}
      .section.bel_dashboard_sec1 {top: 70px;position: relative;z-index: 99;}
      .certificate {padding: 0px 50px;}
      .iss_new_certify {overflow-y: auto;height: 90vh;padding-top: 4px;background: #F9FAFB;    border-radius: 10px;}
      .header.bel_dashboard_header {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 9999999;
}
.header.bel_dashboard_header ul.nav.navbar-nav.menu li a{background-color:transparent;color:#000;}
.header.bel_dashboard_header ul.nav.navbar-nav.menu li a.active{color:#fff;}
.mtb{margin:5% 0;}
.banner-input{margin:8% 0;}
.landing-page .landing-banner-1{padding:10% 7%;}
.landing-banner-1 .landing-banner-text h1{margin-bottom:30px;font-size:50px;}
.landing-banner-1 .landing-banner-text p{font-size:18px;}
.landing-page .landing-banner-2{padding:5%;}
.landing-page .input-group-text{background-color:#415BF6;color:#fff;border-top-left-radius:0;border-bottom-left-radius:0;}
.landing-sec2{padding:5% 0;}
.box-main .box-section{background-color:#fff;padding:10%;border-radius:5px;margin-top:10%;box-shadow: 1px 1px 15px 0px #d2d0d070;}
.box-main .box-section:hover{background-color:#415BF6;color:#fff;}
.landing-sec3{background-color:#415BF6;color:#fff;padding:5% 0;height:677px;}
.landing-sec3 .how-it .tab-content{margin-top:5%;}
.landing-sec3 .how-it .nav-tabs {border-bottom: 0;}
.landing-sec3 .how-it .nav-tabs .nav-item{padding:0 40px;}
.landing-sec3 .how-it .nav-tabs .nav-link{border: 1px solid #fff;color:#fff;border-radius: 5px !important;}
.landing-sec3 .how-it .nav-tabs .nav-link.active{color:#053CCE !important;}
.landing-sec3 .how-it .nav-link{padding:12px 25px;}
.landing-sec3 .how-it div#issuer {background: transparent;}
.tabs_title .tab1-sec-1{padding:50px 50px;}
.tabs_title .tab1-sec-2{padding:10px 80px;}
.how-it .box-main{margin:20px 0;}
.box-main .box-section p{margin-top:20px;}
.carousel-box{padding:40px;background-color:#fff;border-radius:5px;box-shadow: 1px 1px 15px 0px #d2d0d070;}
.carousel-box p span{color:#0060C1;}
.carsel-text{margin:0 0 5% 0;}
.box-section:hover svg #landing-page {
  fill: #fff;
}
.landing-sec4{padding:0 0 40px 0;}
.landing-sec5 img{filter: grayscale(100%);}
.landing-sec6 a{padding:10px 25px;margin:20px 0 0 0;}

 .footer .social-sec ul li{display:inline-block;padding:0 10px;}
 .fa{font-size:30px!important;}